<div
   id="1"
   class="w-full vignette discover-banner max-w-full text-white px-8 rounded-b-lg pt-12 mb-10"
   style="background: #0c0c0cfc; height: 35vh"
>
   <h1 id="c1" class="uppercase mb-4">
      <div class="text-xl font-semibold">BREAKING CHANGE</div>
      <div class="text-4xl font-semibold">NOTICE</div>
      <div class="text-3xl font-semibold">
         Due to some codebase changes in Blaze, the InstallList you are
         currently using is now incompatible with the launcher.
      </div>
      <div class="text-2xl font-semibold">
         Learn how to fix this in our
         <a
            href="https://github.com/Trail-Blaze/Otto/wiki/Migrating-Your-InstallList-Over-to-the-New-Format"
            target="__blank"
            class="text-blue-400"
            >Knowledge-base article</a
         >.
      </div>
   </h1>
</div>
