  <div
          id="1"
          class="w-full vignette discover-banner max-w-full text-white px-8 rounded-b-lg pt-12 mb-10" style="background: url('https://trail-blaze.github.io/marketplace/featuredContent/png/9.png') 0% 0% / cover no-repeat; height: 35vh"
        >
          <div id="t1" class="font-normal mb-4">Stable Release</div>
          <h1 id="c1" class="uppercase mb-4"><div class="text-5xl font-semibold">Version 1</div></h1>
          <p id="c1-2" class="w-64 leading-normal text-gray-lighter pb-10">It's Finally Out. <a class="text-blue-400" href="#">Learn More</a></p>
        </div>
